
@{
    ViewBag.Title = "Index";
}


<form method="post" action="/Login/Index">
    <table>
        <thead>
            <tr>
                <th>Username:</th>
                <th></th>
            </tr>
        </thead>
    </table>
</form>